@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.slick-next:before {
  content: "" !important;
}

.slick-prev:before {
  content: "" !important;
}

.swiper-slide {
  height: 60px !important;
}

.sidenav li div::after {
  transition: opacity 200ms ease-in-out;
}

.sidenav:hover li div::after {
  opacity: 0;
}

.sidenav:hover li span::after {
  opacity: 0;
}

.sidenav li span::after {
  transition: opacity 200ms ease-in-out;
}
