@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.slick-next:before {
  content: "" !important;
}

.slick-prev:before {
  content: "" !important;
}

.swiper-slide {
  height: 60px !important;
}

.sidenav li div::after {
  transition: opacity 200ms ease-in-out;
}

.sidenav:hover li div::after {
  opacity: 0;
}

.sidenav:hover li span::after {
  opacity: 0;
}

.sidenav li span::after {
  transition: opacity 200ms ease-in-out;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin-bottom: 0.5rem;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #929aa2;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 400;
}

input::placeholder {
  color: #929aa2;
  font-size: 16px;
  font-weight: 400;
}

.tooltip {
  opacity: 1;
  transition: opacity 0.2s;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

div.code-block {
  background-color: #f5f5f5;
  padding: 10px;
  overflow-x: auto;
  border: #929aa2 solid 1px;
  color: orange;
}

